@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Inconsolata:wght@200..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-dark-main: rgb(15, 14, 18);
  --font-bitcount: "Bitcount Grid Single";
  --font-inconsolata: "Inconsolata";
}

@layer base {
  * {
    @apply text-lime-300 duration-200;
  }

}

@layer utilities {

  /* scroll hide - Chrome | Safari | Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* scroll hide - IE | Edge | Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE | Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .container-top {
    @apply text-lime-300 bg-linear-to-br from-dark-main from-40% to-[#0f9b0f]
  }

  .animate-border {
    @apply border-solid border-transparent border-s-10 xl:border-s-20 border-t-2 duration-500
  }

  .animate-border:hover {
    @apply border-lime-300 ps-9 from-dark-main to-75% to-transparent
  }

  .clickable-icon {
    @apply duration-150 hover:cursor-pointer hover:scale-110
  }

  .socials {
    @apply bg-linear-90 from-lime-300 from-10% to-transparent
  }

  .animate-button-online {
    @apply font-bitcount border-dotted border-2 border-lime-500 p-1 rounded-sm duration-150
  }

  .animate-button-repo {
    @apply font-bitcount border-dotted border-2 border-orange-500 text-orange-500 p-1 rounded-sm duration-150
  }

  .animate-button-demo {
    @apply font-bitcount border-dotted border-2 border-cyan-400 text-cyan-400 p-1 rounded-sm duration-150
  }

  .animate-button-online:hover {
    @apply scale-110 bg-green-500 text-white cursor-pointer;
  }

  .animate-button-repo:hover {
    @apply scale-110 bg-orange-500 text-white cursor-pointer;
  }

  .animate-button-demo:hover {
    @apply scale-110 bg-cyan-400 text-white cursor-pointer;
  }

  .header-link {
    @apply flex items-center font-bitcount hover:scale-110 hover:cursor-pointer hover:underline
  }
}